{% extends 'edc_subject_dashboard/dashboard.html' %}
{% load static %}
{% load edc_subject_dashboard_extras %}
{% load esr21_dashboard_extras %}

{% block extra-scripts %}
	 <script>
      function confirm_main_schedule_enrollment() {
			let confirmAction = confirm("Are you sure  you want to enroll participant in this schedule?");
			if (confirmAction) {
			window.location.href="{% url subject_dashboard_url subject_identifier %}main_schedule_enrollment";
			} else {
			alert("Action canceled");
			}
		}

		function confirm_sub_cohort_enrollment() {
			let confirmAction = confirm("Are you sure  you want to enroll participant in this schedule?");
			if (confirmAction) {
			window.location.href="{% url subject_dashboard_url subject_identifier %}sub_cohort_enrollment";
			} else {
			alert("Action canceled");
			}
		}

		function confirm_booster_enrollment() {
			let confirmAction = confirm("Are you sure  you want to enroll participant in this schedule?");
			if (confirmAction) {
			window.location.href="{% url subject_dashboard_url subject_identifier %}booster_enrollment";
			} else {
			alert("Action canceled");
			}
		}
    </script>
{% endblock extra-scripts %}


{% block locator_information %}{% endblock locator_information %}

{% block top_bar %}

    {% include "esr21_dashboard/subject/dashboard/top_bar.html" %}

{% endblock top_bar %}


{% block side_bar %}
	{{ block.super }}	

	{% if locator_obj %}

    <div class="panel panel-default">
      <div class="panel-heading">
          <h6 class="panel-title">
              <i class="fa fa-info-circle fa-lg fa-fw"></i> Locator Info
          </h6>
      </div>
      
        {% include "esr21_dashboard/subject/dashboard/locator_info.html" %}   
  	</div>
  	{% endif %}

	{% if deviations %}
	  <div class="panel panel-default">
		<div class="panel-heading">
			<h6 class="panel-title">
				<i class="fa fa-info-circle fa-lg fa-fw"></i> Deviation Info
			</h6>
		</div>
		
		  {% include "esr21_dashboard/subject/dashboard/deviation_info.html" %}   
		</div>

	{% endif %}  
{% endblock side_bar %}



{% block other_special_buttons %}
{% if not has_schedules and show_schedule_buttons %}
	<button class="btn btn-md btn-info"  onclick="confirm_main_schedule_enrollment()">
		Main Schedule Enrollment
	</button>
	{% if not is_subcohort_full %}
		<button class="btn btn-md btn-success"  onclick="confirm_sub_cohort_enrollment()" role="button" >
			Sub Cohort Enrollment
		</button>
	{% endif %}
{% endif %}
{% if booster_due %}
	<button class="btn btn-md btn-info"  onclick="confirm_booster_enrollment()">
		Booster Enrollment
	</button>
{% endif %}

{% endblock other_special_buttons %}
	
{% block visit_schedules_panel %}
   {% for visit_schedule in visit_schedules.values %}
   		 {% for schedule in visit_schedule.schedules.values %}
   		 {% if schedule.name in schedule_names %} 
	<div id="subject_dashboard_for_{{ visit_schedule.name|slugify }}-{{ schedule.name|slugify }}"
		class="panel panel-{% if anonymous %}danger{% else %}info{% endif %}">
	<div class="panel-heading">
	  <i class="far fa-calendar fa-lg fa-fw"></i> 
	      <a data-toggle="collapse" data-parent="#accordion_{{ visit_schedule.name|slugify }}-{{ schedule.name|slugify }}" aria-hidden="true"
	         href="#subject_dashboard_appointments_for_{{ visit_schedule.name|slugify }}-{{ schedule.name|slugify }}">
	         {{ visit_schedule.verbose_name }} <i class="fa fa-caret-right"></i> {{ schedule.verbose_name }} <span class="caret"></span>
	      </a>

	      <span class="text text-default pull-right"><small>
	      
	      	{% appointment_in_progress subject_identifier visit_schedule schedule as visit_code %}
	      
	      	{% if visit_code %}
			 <i class="fa fa-spinner fa-fw" aria-hidden="true" data-toggle="tooltip" title="Appointment {{ visit_code }} is currently in progress"></i> {{ visit_code }}
			{% endif %}
	  	    
	  	  </small></span>

	  
	</div>

	<div id="subject_dashboard_appointments_for_{{ visit_schedule.name|slugify }}-{{ schedule.name|slugify }}"
		class="panel-collapse collapse {% if visit_code != None %}in{% endif %}">
		

	{% block appointments %}
		{% include "edc_subject_dashboard/dashboard/appointments.html" %}
	{% endblock appointments %}
	</div>
	{% block appointments_schedule_footer %}

		{% subject_schedule_footer_row subject_identifier visit_schedule schedule subject_dashboard_url %}
	{% endblock appointments_schedule_footer %}	
    	</div>
    	 {% endif %} 
     {% endfor %}
   	{% endfor %}
{% endblock visit_schedules_panel %}

{% block dashboard_schedule_footer %}
	{% subject_schedule_footer_row subject_identifier current_visit_schedule current_schedule subject_dashboard_url %}
{% endblock dashboard_schedule_footer %}